@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
  overflow: hidden;
}

li span.active{
  font-weight: bold;
}
li span.active::before{
  content: '>';
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}
